@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent scrolling, 3D canvas covers all */
  background: #050510;
  /* Dark background to prevent simple white flash */
}